/* ====================================================
1. Variables and Fonts
   ====================================================*/
:root {
    --primary-red: rgb(225, 73, 37);
    --hl-orange: rgb(225, 225, 0);
    --hover-red: rgb(80, 30, 30);
    --bg: rgb(255, 255, 255);
    --bg-container: rgb(71, 71, 71);
    --bg-card: rgb(63, 63, 63);
    --border-gray: rgb(204, 204, 204);
    --header-bg: rgb(0, 0, 0);
    --text-white: rgb(255, 255, 255);
    --font-main: 'Namdhinggo', sans-serif;
}

/* ====================================================
2. Base Styles 
   ====================================================*/
body {
    background-color: var(--bg-dark); 
    font-family: var(--font-main);
}

h1, h2, h3, h4, p, a, button, input, select, li {
    font-family: var(--font-main);
    color: var(--header-bg);
}

h1 {
	text-align: center;
    font-weight: 500;
    font-size: 7rem;
    letter-spacing: -6px;
}

h2 {
	text-align: center;
    font-weight: 400;
    font-size: 6rem;
}

h3 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: -4px;
}
h4 { 
    font-size: 4rem;
    font-weight: 50;
    letter-spacing: -3px;
}
h5 { font-size: 3rem; }
h6 { font-size: 2rem; }

p {
    text-align: left;
    font-size: 1rem;
    opacity: 50%;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    text-align: left;
    padding-left: 50px;
    min-height: 80px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    opacity: 90%;

}

li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background-image: var(--item-icon);
    background-size: contain;
    background-repeat: no-repeat;
}

.login-container a, .tracker a {
    text-decoration: none;
    color: black;
}

a { textdecoration: none; }
a img {	transition: transform 0.2s; }


a:hover img {
	transform: scale(1.1);
	opacity: 0.8;
}

/* ====================================================
3. Layout Sections
   ====================================================*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    margin: 1rem;
}

footer {
  box-shadow: 0 4px 6px rgba(0, 0, 0);
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem;
}

footer a {
  color: var(--primary-red); 
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.hero {
    text-align: center;
    background-image: var(--bg-image);
    background-size: 200px;
    background-position: right bottom 30%;
    background-repeat: no-repeat;
}

/* ====================================================
4. Components
   ====================================================*/
.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.feature {
	margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    font-family: 'Namdhinggo', sans-serif;
}

.tracker {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 5px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    background-color: var(--bg-dark); 
    text-align: center;
}
.results {
    margin: 1rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    max-height: 80rem;
    overflow-y: auto;
}


/* Header */
.dropdown-menu {
    position: absolute;
    right: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.logo-index.scrolled .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
}
.dropdown-content {
	opacity: 0;
	pointer-events: none;
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

	display: grid;
	position: absolute;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	padding: 1rem;
	border-radius: 20px;
	right: 0px;
	width: 180px;
    background-color: white;
}
.dropdown-content button{
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}
.dropdown-menu:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.options{
	display: none;
	flex-direction: column;
}
.hamburger, #menu-toggle {
	display: none;
}

#menu-toggle:checked ~ .options{
	display: flex;
}
/* Home sections */

.profile-hub {
    display: grid;
    background-color: white; 
    border-radius: 20px;
    padding: 20px 10%;
    color: white;
    margin: 20px;
    font-family: 'Namdhinggo', sans-serif;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}



/* General Styles */

#activity {
    width: 100%;
}



.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.logo-index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height, 100vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: var(--logo-top-padding, 0vh);
    transition: all 0.6s ease-in-out;
    border-radius: 20px;
    z-index: 1;
}

.logo-image {
    width: var(--logo-width, 300px);
    height: auto;
    transition: all 0.3s linear;
}

.scroll-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: auto;
    transition: opacity 0.5s ease;
    animation: bounce 2s infinite;
    z-index: 2;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-15px);
    }
    60% {
        transform: translateX(-50%) translateY(-7px);
    }
}

.logo-index.scrolled {
    top: 5px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.main-index {
    padding-top: 100vh;
    position: relative;
}

.account {
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#results {
    display: grid;
    grid-template-columns: 1fr; 
}

.food-card {
    padding: 50px 30px;
    margin-bottom: 25px;
    background-color: rgba(63, 63, 63);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
}

.food-card:hover {
    transform: translateY(-5px);
}

.food-card h2 {
    margin: 0;
}

.food-card .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}





button {
    padding: 1rem;
    border: none;
    background-color: var(--primary-red); /* button color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    max-width: 150px;
    transition: background-color 0.3s ease;
    font-family: 'Namdhinggo', sans-serif;
}
button:hover {
    background-color: var(--hl-orange); /* Darker red on hover */
    color: black;
}

.input-section {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0;
}


.entryarea {
	width: 100%;
    position: relative;
    height: 80px; 
    border: 2px solid var(--border-gray);
    border-radius: 20px;
    transition: all 0.1s ease;
    box-sizing: border-box;
    font-family: 'Namdhinggo', sans-serif;
    font-size: x-large;
}

input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 80px;
    outline: none;
    border: none;
    background: transparent;
    align-items: stretch;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Namdhinggo', sans-serif;
}

select {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 30px;
    line-height: 80px;
    outline: none;
    border: none;
    background: transparent;
    align-items: stretch;
    transition: 0.1s ease;
    z-index: 1111;
    box-sizing: border-box;
    color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    display: block;
    font-family: 'Namdhinggo', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.unit-text {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: gray;
    font-size: 1.2rem;
    pointer-events: none;
    transition: color 0.1s ease;
    z-index: 1112;
    font-family: 'Namdhinggo', sans-serif;
}

.ft-unit {
    right: calc(50% + 10px);
}

.in-unit {
    right: 10px;
}

/* Change unit color when the input is focused or valid */
input:focus ~ .unit-text,
input:valid ~ .unit-text {
    color: rgb(216, 49, 49); /* Match the focus color */
}

.split-entry {
    display: flex;
    align-items: center;
    background: transparent;
    transition: border 0.1s ease;
}

.split-entry input {
    text-align: center;
    flex: 1 !important;
    width: 0 !important;
    height: 100%;
    padding-right: 15px;
    line-height: 80px;
    background: transparent;
}

.split-entry .divider {
    width: 2px;
    height: 40px;
    background-color: var(--border-gray);
}

.split-entry:focus-within {
    border: 4px solid var(--primary-red);
}

.label-line{
    position: absolute;
    font-size: 1.2rem;
    color: black;
    padding: 0 5px;
    margin: 0;
    transition: 0.2s ease;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    pointer-events: none;
    font-family: var(--font-main);
}


.label-line-tracker, .label-line-manually {
    position: absolute;
    font-size: 1.2rem;
    color: white;
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    transition: 0.2s ease;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
    z-index: 1001;
    font-family: var(--font-main);
}

/* Unified Floating Label Logic */
.entryarea:focus-within {
    border: 4px solid var(--primary-red);
}

input:focus ~ .label-line, input:valid ~ .label-line,
select:focus ~ .label-line, select:valid ~ .label-line,
input:focus ~ .label-line-manually, input:valid ~ .label-line-manually {
    color: var(--primary-red);
    border: var(--primary-red);
    background-color: white; 
    transform: translate(0, -50px) scale(0.88);
    z-index: 11;
    font-family: var(--font-main); 
}

input:focus ~ .label-line-tracker, input:valid ~ .label-line-tracker {
    background-color: var(--bg-dark);
    color: var(--primary-red);
    transform: translate(0, -50px) scale(0.88);
    z-index: 11;
    font-family: var(--font-main); 

}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.profile-pic {
    height: auto;
    max-width: 200px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fafafa;
    cursor: pointer;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    color: white;
    text-align: center;
}
/* day cards grid */


.daily-trackers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.day-card {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: solid;
    border-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.macro-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.day-header {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color:white;
}

.macro-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.macro-name {
    flex: 1;
    color: white;
}

.macro-progress {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}


.circle{
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 5;
}

.bar-circle {
    stroke: #5a53535e;
}

/* Specific colors for macros */
.calories-circle { stroke: #4d79ff; transition: stroke-dashoffset 0.5s ease; }
.protein-circle{ stroke: #ff4d4d; transition: stroke-dashoffset 0.5s ease; }
.carb-circle { stroke: #2eb82e; transition: stroke-dashoffset 0.5s ease; }
.fat-circle { stroke: #ffd11a; transition: stroke-dashoffset 0.5s ease; }

/* Log in  and Sign up styles */
.login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	margin: 1rem;
}

.login-logo {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    margin: 1rem; 
    padding: 2rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
}


.login-container a:hover, .tracker a:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


.login-container a:hover {
    transform: scale(1.1);
	opacity: 0.8;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 5%;
    border-radius: 20px;
    color: white;
}

#login-form, #signup-form, #manual-food-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

/* Style for two inputs per row */
.two-column-row {
    display: flex;
    justify-content: space-between; /* Space out the two inputs */
    gap: 20px; /* Add space between the inputs */
    width: 100%; /* Take full width of the parent form */
}

.two-column-row .input-section {
    width: 100%; /* The input-section now takes 100% of its space inside .two-column-row */
    flex: 1; 
}

option {
	background-color: white;
	color: white;
	font-family: var(--font-main);
}

option:hover,
option:focus,
option:active,
option:checked {
	background-color: rgb(216, 49, 49) !important;
	background: rgb(216, 49, 49) !important;
	color: white;
}

/* Resposive to a bigger screen */
@media (min-width: 800px) {
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .profile-hub {
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }
    .signup-container {
	    width: 90%;
	    padding: 1rem;
    }
    .feature-tracker {
    }
}
