<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_name }} - Hungry App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-hungry.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ img_path }}favicon.ico"> 
</head>

{% block header %}
<header>
	<div class="logo-index scrolled" style="--header-height: 8vh; --logo-width: 150px; --logo-top-padding: 0vh;"> 
		<a href="{{ url_for('index') }}">
			<img src="{{ img_path }}logo.svg" alt="Hungry Logo" class="logo-image">
		</a>
		<nav class="dropdown-menu dropdown-menu-visible">
		<img src="{{ img_path }}profile.jpg" alt="Menu" class="profile-image">
		<div class="dropdown-content">
			<button onclick="location.href='home'" id="homeBtn">Home</button>
			<button onclick="location.href='login'" id="loginBtn">Login</button>
            <button onclick="location.href='profile'" id="signupBtn">Profile</button>
		</div>
	</nav>
	</div>
</header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer  %}
<footer>
            <p>&copy; 2025 Hungry. All rights reserved.</p>
            <nav>
                <a href="#">About</a> | 
                <a href="#">Contact</a> | 
                <a href="#">Privacy Policy</a>
            </nav>
        </footer>
{% endblock %}
