{% extends "base.html" %}

{% block header %}
<div class="logo-index">
    <a href="{{ url_for('index') }}">
        <img src="{{ img_path }}logo.svg" alt="Zest Logo">
    </a>
    <img src="{{ img_path }}arrowDown.svg" id="scrollArrow" class="scroll-arrow" alt="Scroll down">
</div>
{% endblock %}
{% block content %}
<main class="main-index">
    <section class="hero" style="--bg-image: url('{{ img_path }}orangesbg.svg');">
        <h4>Track Your Macros</h4>
        <p>Monitor your daily intake of: </p>
        <ul>
            {% for item in food_items %}
            <li style="--item-icon: url('{{ img_path }}{{ item.icon_name }}.svg');">
                {{ item.label }}
            </li>
            {% endfor %}

            <li style="--item-icon: url('{{ img_path }}calories.svg');">Calories</li>
            <li style="--item-icon: url('{{ img_path }}proteins.svg');">Proteins</li>
            <li style="--item-icon: url('{{ img_path }}carbs.svg');">Carbs</li>
            <li style="--item-icon: url('{{ img_path }}fats.svg');">Fats</li> 
        </ul>

        <button onclick="location.href='login'" id="loginNowBtn">Login</button>
    </section>
    <section class="features">
        <div class="feature">
            <h4>Connect With a Trainer</h4>
            <button id="getStartedBtn">Coming soon...</button>
        </div>
        <div class="tracker">
            <h4>Macro Quick Search</h4>
            <div id="login-form">
                <div class="input-section">
                    <div class="entryarea">
                        <input type="text" id="foodInput" required>
                        <div class="label-line-tracker">Enter a food item...</div>
                    </div>
                </div>
            </div>
            <button id="searchButton">Search</button>
        </div>
    </section>
    <section class="results">
        <h4>Food Nutrition Information</h4>
        <div id="results"></div>
        <template id="result-template">
            <div class="food-card">
                <h2></h2>
                <p class="p-cals"></p>
                <p class="p-prot"></p>
                <p class="p-carbs"></p>
                <p class="p-fats"></p>         
            </div>
        </template>

    </section>
</main>

<script src="{{ url_for('static', filename='config.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}
